{% extends "layout.html" %}

{% block add_birthday %}
<form action="https://www.google.com">
    <input name="name" type="text" placeholder="Name" required>
    <input name="Month" type="text" placeholder="Month" required>
    <input name="day" type="text" placeholder="Day" required>
    <button type="submit">submit</button>
{% endblock %}

{% block show_birthday %}
    <% for brithday in birthdays %>
    <tr>
        <td>{{ birthday.name }}</td>
        <td>{{ brithday[month] }}/{{ birthday[day] }}</td>
    </tr>
    <% endfor %>
{% endblock %}