{% extends "layout.html" %}

{% block head %}
<style>
    .valid {
      color: green;
    }
    .invalid {
      color: red;
    }
</style>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form id="registrationForm" onsubmit="return validateForm()" action="/register" method="post">
        <div class="mb-3">
            <label for="username">Username:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div>
            <input autocomplete="off" class="form-control mx-auto w-auto" type="email" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input class="form-control mx-auto w-auto" maxlength="16" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword">Confirm Password:</label>
            <input
            class="form-control mx-auto w-auto"
            maxlength="16"
            id="confirmPassword"
            name="confirmPassword" placeholder="Re-enter password"
            type="password"
            oninput="checkPasswordMatch()"
            required>
            <span id="confirmationMessage"></span>
            <span id="confirmationIcon"></span><br>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        function validateForm() {
          var password = document.getElementById("password").value;
          var confirmPassword = document.getElementById("confirmPassword").value;

          if (password != confirmPassword) {
            document.getElementById("confirmationMessage").innerHTML = "Passwords do not match";
            document.getElementById("confirmationMessage").className = "invalid";
            return false;
          }

          document.getElementById("confirmationMessage").innerHTML = "Passwords match";
          document.getElementById("confirmationMessage").className = "valid";

          return true;
        }

        function checkPasswordMatch() {
          var password = document.getElementById("password").value;
          var confirmPassword = document.getElementById("confirmPassword").value;
          var confirmationIcon = document.getElementById("confirmationIcon");
          var confirmationMessage = document.getElementById("confirmationMessage");

          if (password === confirmPassword && confirmPassword !== "") {
            confirmationIcon.innerHTML = '<span class="valid">&#10004;</span>';
            confirmationMessage.innerHTML = "Passwords match";
            confirmationMessage.className = "valid";
          } else {
            confirmationIcon.innerHTML = '';
            confirmationMessage.innerHTML = "Passwords do not match";
            confirmationMessage.className = "invalid";
          }
        }
      </script>
{% endblock %}
