{% extends "layout.html" %}

{% block head %}
<style>
    .valid {
      color: green;
    }
    .invalid {
      color: red;
    }
</style>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form formid= id="registrationForm" onsubmit="return validateForm()" action="/register" method="post">
        <div class="mb-3">
            <label for="username">Username:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" type="email" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input class="form-control mx-auto w-auto" maxlength="16" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" maxlength="16" id="re-enter password" name="password" placeholder="Re-enter password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
